.imageCard {
  border: solid 1px black;
  width: 150px;
  margin: 10px;
  display: inline-flex;
}

.activityCard {
  border: solid 1px black;
  width: 400px;
  margin: 10px;
  display: inline-flex;
}
